<app-header></app-header>
<div class="spacer"></div>
<div *ngIf="project$ | async as project" class="page">
  <header class="project-header">
    <div class="header-content">
      <h1>{{ project?.Title }}</h1>
      <p class="tagline">{{ project?.Subtitle }}</p>
      <div class="project-meta">
        <div class="meta-item">
          <h4>Role</h4>
          <p>{{ project?.Roles }}</p>
        </div>
        <div class="meta-item">
          <h4>Tech Stack</h4>
          <p>{{ project?.TechStack }}</p>
        </div>
        <div class="meta-item">
          <h4>Project Url</h4>
          <p><a href="{{ project?.ProjectUrl }}" target="_blank">{{project.FileName.split('.')[0]}}</a></p>
        </div>
      </div>
    </div>
  </header>
  <main class="project-main">
    <section class="section hero-image">
      <img
        src="assets/{{project.FileName}}"
        alt="{{ project.Title }}"
      />
    </section>

    <section class="section overview">
      <h2>Project Overview</h2>
      <p>
        {{ project?.Description }}
      </p>
    </section>

    <section class="section process">
      <h2>Features</h2>
      <div *ngFor="let feature of project?.Features">
        <div class="process-step">
          <h3>{{ feature.title }}</h3>
          <p innerHTML= "{{ feature.Description }}">
          </p>
        </div>
      </div>
    </section>

    <section class="section call-to-action">
      <h3>Thanks for reading!</h3>
      <a routerLink="/projects" class="cta-button">Back to Projects</a>
    </section>
  </main>
</div>
<div class="spacer"></div>
<app-footer></app-footer>
