<footer class="footer">
  <div class="footer-container">
    <!-- Quick Links Section -->
    <div class="footer-section quick-links">
      <h4>Quick Links</h4>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/projects">Projects</a></li>
        <li><a routerLink="/about">About</a></li>
        <li><a routerLink="/contact">Contact</a></li>
      </ul>
    </div>

    <!-- Contact Section -->
    <div class="footer-section contact">
      <h4>Contact</h4>
      <div class="contact-item">
        <span class="material-icons">email</span>
        <a href="mailto:karthi.jayaraman&#64;gmail.com"
          >Karthi.Jayaraman&#64;gmail.com</a
        >
      </div>
      <div class="contact-item">
        <span class="material-icons">location_on</span>
        <span>Richmond, Virginia</span>
      </div>
    </div>

    <!-- Social Media Section -->
    <div class="footer-section social">
      <h4>Follow On</h4>
      <div class="social-links">
        <a
          href="https://github.com/jjkst"
          target="_blank"
          class="social-link"
          rel="noopener noreferrer"
        >
          <i class="fab fa-github"></i>
        </a>
        <a
          href="https://www.linkedin.com/in/karthik-jayaraman-b95b4b4"
          target="_blank"
          class="social-link"
          rel="noopener noreferrer"
        >
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </div>
  </div>

  <!-- Bottom Bar -->
  <div class="footer-bottom">
    <p>&copy; All rights reserved. Developed by Karthik Jayaraman</p>
  </div>
</footer>
