<!-- Mobile Nav -->

<!-- Desktop Nav -->
<div class="desktop-nav">
  <div class="company-branding">
    <a routerLink="/">
      <div class="branding-content">
        <!-- <img
          src="assets/ruku-logo-1.png"
          alt="Ruku IT Services Logo"
          class="logo"
        /> -->
        <span class="title">Karthik Jayaraman</span>
      </div>
    </a>
  </div>

  <div class="nav-menu">
    <ul>
      <li><a routerLink="/projects" routerLinkActive="active">Projects</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</div>
