.hero-section {
  background: linear-gradient(to bottom, grey 0%, black 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px 0;

  .hero-content {
    max-width: 1000px;
    margin: 20px auto;  
    color: white;
    h1 {
      font-size: 2.5rem;
    }
    p {
      font-size: 1.2rem;
      color: white;
    }
  }
}
