<section class="hero-section">
  <div class="container">
    <div class="hero-content">
      <h1>Building Quality, Automating Excellence.</h1>
      <p>
        Experienced Software QA Automation Engineer proficient in various
        programming languages, such as C#, Typescript, Java, and
        Python. I enjoy all aspects of the testing process, from test strategy
        and test case creation to execution and defect tracking.
      </p>
      <p>
        Detail-oriented problem-solver who is comfortable working in both
        structured and flexible development environments. Always looking for
        ways to improve efficiency and productivity. Proven ability to deliver
        high-quality software solutions through efficient test execution and
        defect resolution.
      </p>
      <a routerLink="/projects" class="cta-button">View My Projects</a>
    </div>
  </div>
</section>
