<section class="projects-section">
  <div class="container">
    <h2>My Projects</h2>
    <h3>Test Automation</h3>
    <app-horizontal-card-list
      [items]="testprojects"
      [itemsPerPage]="3"
      [contentTemplate]="projectContentTemplate"
      [getImageUrl]="getProjectImageUrl"
      [getTitle]="getProjectTitle"
      [showImage]="true"
    >
    </app-horizontal-card-list>

    <h3>Development</h3>
    <app-horizontal-card-list
      [items]="developmentprojects"
      [itemsPerPage]="3"
      [contentTemplate]="projectContentTemplate"
      [getImageUrl]="getProjectImageUrl"
      [getTitle]="getProjectTitle"
      [showImage]="true"
    >
    </app-horizontal-card-list>

    <ng-template #projectContentTemplate let-project>
    </ng-template>
  </div>
</section>
