<app-header></app-header>
<div class="spacer"></div>
<div class="page">
  <main class="about-container">
    <section class="bio-section">
      <div class="bio-image">
        <img
          src="assets/profileimage.png"
          alt="A professional headshot of [Your Name]"
        />
      </div>
      <div class="bio-content">
        <h1 class="main-heading">Hello, I'm Karthik Jayaraman</h1>
        <h2 class="sub-heading">
          {{ profile?.Title }}
        </h2>
        <ul>
          <li *ngFor="let item of profile?.Description">{{ item }}</li>
        </ul>
      </div>
    </section>

    <hr class="divider" />

    <app-skills></app-skills>

    <hr class="divider" />

    <div class="summary-section">
      <h2>{{ profile?.SummaryTitle }}</h2>
      <ul class="summary-list">
        <li *ngFor="let item of profile?.Summary">{{ item }}</li>
      </ul>
    </div>

    <div class="cta-section">
      <a href="#" class="cta-button">Download My Resume</a>
    </div>
  </main>
</div>
<div class="spacer"></div>
<app-footer></app-footer>
