<app-header></app-header>
<div class="spacer"></div>
<div class="page">
  <main class="about-container">
    <section class="bio-section">
      <div class="bio-image">
        <img
          src="assets/profileimage.png"
          alt="A professional headshot of [Your Name]"
        />
      </div>
      <div class="bio-content">
        <h1 class="main-heading">Hello, I'm Karthik Jayaraman</h1>
        <h2 class="sub-heading">
          Automation Architect / Staff Quality Assurance Automation Engineer
        </h2>
        <p>
          Experienced Software QA Automation Engineer proficient in various
          programming languages, such as C#, Typescript, Java, and Python. I
          enjoy all aspects of the testing process, from test strategy and test
          case creation to execution and defect tracking.
        </p>
        <p>
          Detail-oriented problem-solver who is comfortable working in both
          structured and flexible development environments. Always looking for
          ways to improve efficiency and productivity. Proven ability to deliver
          high-quality software solutions through efficient test execution and
          defect resolution.
        </p>
      </div>
    </section>

    <hr class="divider" />

    <app-skills></app-skills>

    <hr class="divider" />

    <section class="cta-section">
      <h2 class="section-heading">Let's Connect</h2>
      <p>
        I'm always open to new opportunities and collaborations. Feel free to
        get in touch!
      </p>
      <a href="#" class="cta-button">View My Resume</a>
      <a href="#" class="cta-button secondary">Contact Me</a>
    </section>
  </main>
</div>
<div class="spacer"></div>
<app-footer></app-footer>
